<!--
  ***
  Pu Thavikulwat
  04/19/2022
  AD, Itani,Abdul Rahman

  This is the shop.html page that contains all of the items for sale in the
  website. Users can click the "add to cart" button that will add the selected
  items to the shopping cart.
-->
<!-- & Appending navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#F7CE46;">
  <a class="navbar-brand ml-2" href="index.html">
    <img src="img/logo.png" alt="logo" id="png">
  </a>
  <!-- *This is the hamburger menu part -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- * -->

  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav ms-auto">
      <a class="nav-item nav-link mx-2" href="menu.html">MENU</a>
      <a class="nav-item nav-link mx-2" href="shop.html">SHOP</a>
      <a class="nav-item nav-link mx-2" href="index.html">CONTACT</a>
    </div>
  </div>
</nav>